@page
@model MessageModel
@{
    ViewData["Title"] = "Message";

}

<partial name="_StatusMessage" for="StatusMessage" />

<form method="post">



    <div class="form-group">
        <a >Title</a>
        <select class="custom-select" asp-for="Message.Subject">
            <option selected="">Choose topic</option>
            <option value="Cancellations">Cancellations</option>
            <option value="Payment">Payment</option>
            <option value="Booking details">Booking details</option>
            <option value="Communications">Communications</option>
            <option value="Room types">Room types</option>
            <option value="Pricing">Pricing</option>
            <option value="Credit cards">Credit cards</option>
            <option value="Extra facilities">Extra facilities</option>
            <option value="Property policies">Property policies</option>
        </select>
    </div>


    <p>Hej jonas</p>


    <div class="form-group">
        <label asp-for="Message.MessageFromUser">Question</label>
        <input asp-for="Message.MessageFromUser" class="form-control" />
        <span asp-validation-for="Message.MessageFromUser" class="text-danger"></span>
    </div>

    <button id="submitButton" type="submit" class="btn btn-primary">Confirm</button>
</form>