.newLine {
    display: inline-flex;
}

.alertMessages {
    margin-top: 5px;
    padding: 12px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0px;
    border-radius: 5px;
    background: rgba(250, 47, 58, 0.8);
}

.field-validation-valid {
    display: none;
}