@page
@model Project_Booking.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h4>Edit Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentBooking.ID" />
            <div class="form-group">
                <label asp-for="CurrentBooking.Name" class="control-label"></label>
                <input asp-for="CurrentBooking.Name" class="form-control" />
                <span asp-validation-for="CurrentBooking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.LastName" class="control-label"></label>
                <input asp-for="CurrentBooking.LastName" class="form-control" />
                <span asp-validation-for="CurrentBooking.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.CheckIn" class="control-label"></label>
                <input asp-for="CurrentBooking.CheckIn" class="form-control" />
                <span asp-validation-for="CurrentBooking.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.CheckOut" class="control-label"></label>
                <input asp-for="CurrentBooking.CheckOut" class="form-control" />
                <span asp-validation-for="CurrentBooking.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.numOfBookedRooms" class="control-label"></label>
                <input asp-for="CurrentBooking.numOfBookedRooms" class="form-control" />
                <span asp-validation-for="CurrentBooking.numOfBookedRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Account/Manage/MyBookings">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}