@page
@model Project_Booking.BookingModel
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Booking</h1>
<head>
    <meta charset="UTF-8">

    <title>SalsaCalendar Demo</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/js/SalsaCalendar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/SalsaCalendar.min.css" media="all" />


</head>
<div>
    <h1 style="text-align:center">@Model.CurrentHotel.HotelName</h1>
</div>
<div>
    <img src=@Model.CurrentHotel.HotelPictureBig class="responsive" width="1000" height="800">
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentUser.UserName"></label>
                <input asp-for="CurrentUser.UserName" class="form-control" disabled />
                <span asp-validation-for="CurrentUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.Name"></label>
                <input id="firstname" asp-for="CurrentBooking.Name" class="form-control" />
                <span asp-validation-for="CurrentBooking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.LastName"></label>
                <input asp-for="CurrentBooking.LastName" class="form-control" />
                <span asp-validation-for="CurrentBooking.LastName" class="text-danger"></span>
            </div>
            <div>
                <div class="container">
                    <div class="date">
                        <label asp-for="CurrentBooking.CheckIn"></label>
                        <input 
                               type="text"
                               id="checkin"
                               class="salsa-calendar-input form-control"
                               autocomplete="off"
                               name="arrival"
                               value="" />

                    </div>
                    <div class="date">
                        <label asp-for="CurrentBooking.CheckOut"></label>
                        <input type="text"
                               for="@Model.datum"
                               id="checkout"
                               class="salsa-calendar-input  form-control"
                               autocomplete="off"
                               name="departure"
                               value="" />

                        <div id="nights-no">
                            <label>Number of days: </label>
                            <span class="counter"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.numOfBookedRooms">Number Of Rooms</label>
                <input id="numroom" onchange="updateDue()" asp-for="CurrentBooking.numOfBookedRooms" class="form-control" max="10" min="1" />
                <span asp-validation-for="CurrentBooking.numOfBookedRooms" class="text-danger"></span>
            </div>
            <div>Price per room</div>
            <div id="price">@Model.CurrentHotel.RoomPrice<br /></div>
            <div>
                <label for="exampleInputText">Total price</label>
                <input type="text" name="remainingval" class="form-control" disabled id="remainingval">
            </div>
            <button asp-route="@Model.CurrentHotel.Id" type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>
<div>Testing shit</div>
<div id="qwe">

</div>

<script type="text/javascript">
    var calendar_from = new SalsaCalendar({
        inputId: 'checkin',
        lang: 'en',
        range: {
            min: 'today'
        },
        calendarPosition: 'right',
        fixed: false,
        connectCalendar: true
    });

    var calendar_to = new SalsaCalendar({
        inputId: 'checkout',
        lang: 'en',
        range: {
            min: 'today'
        },
        fixed: false,
        dateFormats: {}
    });

    new SalsaCalendar.Connector({
        from: calendar_from,
        to: calendar_to,
        maximumInterval: 21,
        minimumInterval: 1
    });

    new SalsaCalendar.NightsCalculator({
        from: calendar_from,
        to: calendar_to,
        nightsNo: 'nights-no'
    });

    function updateDue() {
        var out = document.getElementById("checkout");

        document.getElementById("qwe").innerHTML = out;

    }
    
</script>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}