@page
@model Project_Booking.BookingModel
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<script>
    function updateDue() {

        var rooms = parseInt(document.getElementById("numroom").value);
        var price = parseInt(document.getElementById("price").innerHTML);

        // to make sure that they are numbers
        if (!rooms) { rooms = 0; }
        if (!price) { price = 0; }

        var ansD = document.getElementById("remainingval");
        ansD.value = rooms * price;
    }

</script>
<h1>Booking</h1>
<div>
    <h1 style="text-align:center">@Model.CurrentHotel.HotelName</h1>
</div>
<div>
    <img src=@Model.CurrentHotel.HotelPictureBig class="responsive" width="1000" height="800">
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentUser.UserName"></label>
                <input asp-for="CurrentUser.UserName" class="form-control" disabled />
                <span asp-validation-for="CurrentUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.Name"></label>
                <input asp-for="CurrentBooking.Name" class="form-control" />
                <span asp-validation-for="CurrentBooking.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.LastName"></label>
                <input asp-for="CurrentBooking.LastName" class="form-control" />
                <span asp-validation-for="CurrentBooking.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.CheckIn">Check In</label>
                <input asp-for="CurrentBooking.CheckIn" class="form-control" />
                <span asp-validation-for="CurrentBooking.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.CheckOut">Check Out</label>
                <input asp-for="CurrentBooking.CheckOut" class="form-control" />
                <span asp-validation-for="CurrentBooking.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBooking.numOfBookedRooms">Number Of Rooms</label>
                <input id="numroom" onchange="updateDue()" asp-for="CurrentBooking.numOfBookedRooms" class="form-control" />
                <span asp-validation-for="CurrentBooking.numOfBookedRooms" class="text-danger"></span>
            </div>
            <div>Price per room</div>
            <div id="price">@Model.CurrentHotel.RoomPrice<br /></div>
            <div>
                <label for="exampleInputText">Total price</label>
                <input type="text" name="remainingval" class="form-control" disabled id="remainingval">
            </div>
            <button asp-route="@Model.CurrentHotel.Id" type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}