@page
@model Project_Booking.CurrencyModel
@{
    ViewData["Title"] = "Currency";
}

<h1>Currency</h1>

<h2>Ajax Partial Example</h2>
<p><button class="btn btn-primary" id="load">Load</button></p>
<div id="grid"></div>

<div>
    @Model.CurrencyFromDB.conversion_rates.SEK
</div>