@page
@model HotelDetailsModel
@{
    ViewData["Title"] = "HotelDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div style="text-align:center">
    <h1 style="margin-bottom: 20px">@Html.DisplayFor(model => model.Hotel.HotelName)</h1>

</div>

<div style="margin-bottom: 10px">
    <img src=@Model.Hotel.HotelPictureBig>

</div>

<div >
    <h2 style="margin-bottom: 10px">Hotel Information</h2>
    <p style="margin-bottom: 20px">@Html.DisplayFor(model => model.Hotel.HotelInfo)</p>

</div>

<div >
    <p style="margin-bottom: 20px">Number of room @Html.DisplayFor(model => model.Hotel.NumberOfRooms)</p>

</div>

<div class="container my-4">  



    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.Hotel.HotelPictureSmallOne
                                        allowfullscreen>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                           
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img class="img-fluid z-depth-1" src=@Model.Hotel.HotelPictureSmallOne 
                     data-toggle="modal" data-target="#modal1">
            </a>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.Hotel.HotelPictureSmallTwo
                                        allowfullscreen>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img class="img-fluid z-depth-1" src=@Model.Hotel.HotelPictureSmallTwo 
                     data-toggle="modal" data-target="#modal6">
            </a>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">

            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                        <!--Body-->
                        <div class="modal-body mb-0 p-0">

                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <img class="embed-responsive-item" src=@Model.Hotel.HotelPictureSmallTwo
                                        allowfullscreen>
                            </div>

                        </div>

                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                        </div>

                    </div>
                    <!--/.Content-->

                </div>
            </div>
            <!--Modal: Name-->

            <a>
                <img class="img-fluid z-depth-1" src=@Model.Hotel.HotelPictureSmallTwo 
                     data-toggle="modal" data-target="#modal4">
            </a>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Grid row -->
   

  
    <!-- Grid row -->

</div>



