@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>About us</h2>

<div>
    <h4>Coders</h4>
    <p>Andreé Mattsson</p>
    <p>Jonas Törnmalm</p>
    <p>Johan Andersson</p>
</div>
<br />
<div>
    <h4>Testers</h4>
    <p>Barbro Hagman</p>
    <p>Jie Lin</p>
</div>